extends layout

block content
	div#popup

		h1 Take your css !

		button(id="connectD", class="btn btn-primary", onclick="javascript:dropboxco()") Connexion Dropbox
		button(class="btn btn-info", onclick="javascript:saveFileCss()")
		br
			
		div#success-file
			
			form(class="form-horizontal", role="form")
				div.form-group
					label(class="col-sm-2 control-label", for="name-css") Name file CSS :
					div.col-sm-10
						input(class="form-control", type="text", id="name-css", placeholder="Doe")
						select(name="typeFile", id="typeFile")
							option(value="css") css
							option(value="html") html

				div.form-group
					label(class="col-sm-2 control-label", for="content-css") Content CSS :
					div.col-sm-10
						textarea(class="form-control", name="", id="content-css", rows="3", placeholder="John")
							| .test-select.ui-selectable .ui-selectee{
							|	cursor: pointer;
							| }
							| 
							| .test-select.ui-selectable .ui-selectee:hover{
							| 	border: 2px dotted #007BA8;
							| }
							| 
							| .test-select.ui-selectable .ui-selecting{
							| 	border: 2px solid #007BA8;
							| }
							| 
							| .test-select.ui-selectable .ui-selected{
							| 	border: 2px solid #007BA8;
							| }
							| 
							| .test-select.ui-selectable li:first-child{
							| 	font-weight: bold;
							| 	font-style: italic;
							| 	text-transform: uppercase;
							| 	font-size: 9px;
							| }

			div#filesD

		button#copy
		div.message Select all your css, copy/paste it in your file, and you're done!