extends layout

block content
	h1 Take your css !
	
	button(id="connectD", class="btn btn-primary", onclick="javascript:dropboxco()") Connexion Dropbox
	button(class="btn btn-info", onclick="javascript:saveFileCss()") Save file
		
	div#success-file
		
		form(class="form-horizontal", role="form")
			div.form-group
				label(class="col-sm-2 control-label", for="name-css") Name file CSS :
				div.col-sm-10
					input(class="form-control", type="text", id="name-css", placeholder="Doe")
					select(name="typeFile", id="typeFile")
						option(value="css") css
						option(value="html") html

			div.form-group
				label(class="col-sm-2 control-label", for="content-css") Content CSS :
				div.col-sm-10
					textarea(class="form-control", name="", id="content-css", rows="3", placeholder="John")

		div#filesD