doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href="/stylesheets/bootstrap.css")
    link(rel='stylesheet', href="/stylesheets/perso.css")
  body
    block content
    script(src="/js/jquery-1.10.2.js")
    script(src="/js/main.js")
    script(src="/js/script.dropbox.js")