doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href="/stylesheets/jquery-ui.css")
    link(rel='stylesheet', href="/stylesheets/perso.css")
    link(rel='stylesheet', href="/stylesheets/codemirror.css")
    link(rel='stylesheet', href="/stylesheets/responsize.css")
  body
    block content
    script(src="/js/jquery-1.10.2.js")
    script(src="/js/jquery-ui.js")
    script(src="/js/script.dropbox.js")
    script(src="/js/codemirror.js")
    script(src="/js/javascript.js")
    script(src="/js/main.js")